.MEEventsHeader{}
h2.MEvents {clear: both; overflow: hidden; width: 100%; font-size: 120%; border-bottom: 1px #ccc solid; padding-bottom: 0.375em; color: #333; 
	font-family: inherit;}
.METop{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid;}
	.MESorting{overflow: hidden; width: 40%; float: left; padding-right: 2%;}
		.MESorting .NormalBold {display: block; float: left; padding-top: 4px;}
		.MESorting table{ display: inline;}
	.MEStatus{overflow: hidden; width: 40%; float: left;}
		.MEStatus .NormalBold {display: block; float: left; padding-top: 4px;}
		.MEStatus table{ display: inline;}

.MEEventItem {padding-bottom: 2em; clear:both;}
.MEEventItem .EventDate p, .MEEventItem .EventLocation p, .MEEventItem .EventDescription p {margin-top: 0;}

.MEEventItem .EventTitle{overflow: hidden; width:100%;}
	.MEEventItem .EventTitle h2.Head {float:right; width:82%; padding: 0 0 5px; margin: 0;}

.MEEventItem .EventLocation{overflow: hidden;}
	.MEEventItem .EventLocation .NormalBold {float:left; width: 15%; text-align: right;}
	.MEEventItem .EventLocation .Normal{float:right; width: 82%; text-align: left;}

.MEEventItem .EventDate{overflow: hidden;}
	.MEEventItem .EventDate .NormalBold {float:left; width: 15%; text-align: right;}
	.MEEventItem .EventDate .Normal{float:right; width: 82%; text-align: left;}
	.MEEventItem .RecurrenceSummary .NormalBold {float: none; width: auto; text-align: left;}
	
.MEEventItem .EventOverview{overflow: hidden;}
	.MEEventItem .EventOverview .NormalBold {float:left; width: 15%; text-align: right;}
	.MEEventItem .EventOverview .Normal{float:right; width: 82%; text-align: left;}

.MEEventItem .EventDescription{overflow: hidden; clear: both;}
	.MEEventItem .EventDescription .NormalBold {float:left; width: 15%; text-align: right;}
	.MEEventItem .EventDescription .Normal{float:right; width: 82%; text-align: left;}
		.MEEventItem .EventDescription .Normal > p {margin-top: 0;}
	
.MEEventItem .EventButtons{margin-top: 10px; overflow:hidden; float:right; width: 82%; clear: both;}
.MEEventItem .RecurrenceSummary{padding-left: 15px;}
.MEEventItem .RecurringEventItem{background: transparent url(../../../images/recurring_icon.gif) no-repeat 0 16px;}