	.ItemDetails{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 10px 0; width: 100%;}
		.ItemDetails p{margin-top: 0; margin-bottom: 6px;}

	.ItemDetails .EventTitle{overflow: hidden; width:100%;}
		.ItemDetails .EventTitle h2.Head {float:right; width:82%; padding: 0 0 5px; margin: 0;}
	
	.ItemDetails .EventLocation{overflow: hidden;}
		.ItemDetails .EventLocation .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemDetails .EventLocation .Normal{float:right; width: 82%; text-align: left;}
	
	.ItemDetails .EventDate{overflow: hidden;}
		.ItemDetails .EventDate .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemDetails .EventDate .Normal{float:right; width: 82%; text-align: left;}
		.ItemDetails .RecurrenceSummary .NormalBold {float: none; width: auto; text-align: left;}
		
	.ItemDetails .EventOverview{overflow: hidden;}
		.ItemDetails .EventOverview .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemDetails .EventOverview .Normal{float:right; width: 82%; text-align: left;}

	.ItemDetails .EventDescription{overflow: hidden; clear: both;}
		.ItemDetails .EventDescription .NormalBold {float:left; width: 15%; text-align: right;}
		.ItemDetails .EventDescription .Normal{float:right; width: 82%; text-align: left;}
			.ItemDetails .EventDescription .Normal > p {margin-top: 0;}