<div class="MiniList">
    <engage:list>
    <engage:eventwrapper cssclass="EventItem" recurringeventcssclass="RecurringEventItem" featuredeventcssclass="FeaturedEventItem" alternatingcssclass="AlternatingEventItem">
        <engage:readmore><span class="item">
   		    <span class="NormalBold"><engage:literal text-propertyname="EventStart" text-format="MMM. d" /></span> 
   		    <span class="Normal"><engage:literal text-propertyname="Title" /></span>
   	    </span></engage:readmore>
    </engage:eventwrapper>
    </engage:list>
    
	<p class="calendarLink"><engage:readmore cssclass="Normal" text-resourcekey="ViewCalendar.Text"/></p>
</div>