	.ItemListingHeader{}
		.ItemListingHeader p{margin: 0; padding: 0;}
	.ItemListingHeader h2.Head{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid; padding-bottom: 5px; margin: 5px 0;}
	.ItemListingHeaderTop{clear: both; overflow: hidden; width: 100%; border-bottom: 1px #ccc solid;}
		.ItemListingHeaderSorting{overflow: hidden; width: 40%; float: left; padding-right: 2%;}
			.ItemListingHeaderSorting .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderSorting table{ display: inline;}
		.ItemListingHeaderStatus{overflow: hidden; width: 40%; float: left;}
			.ItemListingHeaderStatus .NormalBold {display: block; float: left; padding-top: 4px;}
			.ItemListingHeaderStatus table{ display: inline;}

	.ItemListing, .ItemDetails{border-bottom: 1px #ccc dotted; overflow: hidden; padding: 10px 0; width: 100%;}
		.ItemListing p{margin-top: 0; margin-bottom: 6px;}

	.ItemListing .EventTitle{overflow: hidden; width:100%;}
		.ItemListing .EventTitle h2.Head{float:right; width:82%; padding: 0 0 5px; margin: 0;}
	
	.ItemListing .EventLocation{overflow: hidden;}
		.ItemListing .EventLocation .NormalBold{float:left; width: 15%; text-align: right;}
		.ItemListing .EventLocation .Normal{float:right; width: 82%; text-align: left;}
	
	.ItemListing .EventDate{overflow: hidden;}
		.ItemListing .EventDate .NormalBold{float:left; width: 15%; text-align: right;}
		.ItemListing .EventDate .Normal{float:right; width: 82%; text-align: left;}
		.ItemListing .RecurrenceSummary .NormalBold{float: none; width: auto; text-align: left;}
		
	.ItemListing .EventOverview{overflow: hidden;}
		.ItemListing .EventOverview .NormalBold{float:left; width: 15%; text-align: right;}
		.ItemListing .EventOverview .Normal{float:right; width: 82%; text-align: left;}

	.ItemListing .EventDescription{overflow: hidden; clear: both;}
		.ItemListing .EventDescription .NormalBold{float:left; width: 15%; text-align: right;}
		.ItemListing .EventDescription .Normal{float:right; width: 82%; text-align: left;}
			.ItemListing .EventDescription .Normal > p{margin-top: 0;}
	
	.ItemListing .EventButtons{float:right; width: 82%;}
		.ItemListing .EventButtons input {margin-bottom: 0.675em;}
		
	.ItemListing .RecurrenceSummary{padding-left: 15px;}
	.ItemListing.RecurringEventItem{background: transparent url(../../images/recurring_icon.gif) no-repeat 0 16px;}