/*==============================================
		1. Event Custom Listing Page
==============================================*/

.EventHeader, .ResponseHeader, .ResponseRow{clear: both; width: 100%; overflow: hidden;  border-bottom: dotted 1px #ccc;}
	.EventHeader h4, .ResponseHeader h4 {text-transform: uppercase; font-weight: bold; margin-bottom: 0.4em; margin-top: 0; font-size: 100%;}
	.EventHeader .Normal{float:left;width: 15%; margin-right: 3%; text-align: right; color: #666;}
	.EventHeader .NormalBold{float: left; width: 81%; color: #000;}
	.ResponseHeader h4, .ResponseHeader h3, .ResponseRow h3 {display:inline;}
	.ResponseHeader .SortByHeader{width: 49%; float:left;}
	.ResponseHeader .StatusHeader{width: 49%; float:right; text-align: center;}
	.ResponseHeader .StatusTypeHeaders > span{padding-right: 10%;}
	.ResponseRow .EventStats{float:right; width:30%;}
	.ResponseRow .EventStats > a {padding-right: 50%;}
.ResponsesSummary {padding: 25px 0;}
		
/* event calendar display page */
.EventCalendar li { list-style-type: none; }
.RadScheduler_Telerik div.rsHeader p { width:110px; }

.EventCalendar { position:relative; } /*.EventCalendar is position:relative to serve as a base for .NewAppointmentTooltip's position:absolute*/
.NewAppointmentTooltip {background: Transparent url(images/request-appt-background.png) no-repeat; width:150px; height:63px; position:fixed; display:none; padding-top:1em; text-align:center; z-index:1000;}

.RadScheduler .rsWrap {margin-bottom: 2px;}
.RadScheduler .rsMonthView .rsWrap {height: 18px !important; width: 100%; overflow: hidden; white-space:nowrap;}
.rsAptContent{padding-left: 2px;}
.rsCell{padding: 0 2px !important;}

.respond-wrap{padding:15px;}
	.respond-wrap h2.Head, .respond-wrap h3.SubHead{margin:0;}

/* event edit page */

.approval-nav{text-align: left;}
	.approval-nav a img{padding: 0 6px 0 0;}
	.FooterButtons {padding-top: 3%; }
	.AddEventSuccessMessage {padding-left: 10%; }
	.AddNewEvent {padding-top: 2%; width: 100%; height: 100%;}
	.AddNewEvent h2.SubHead {text-align: left; border-bottom: dashed 1px black; margin-bottom: 1em; padding-bottom: 0.375em; font-size: 125%;}

	.rsAdvRecurrenceFreq:after,	.rsAdvRecurrencePatterns:after{	content:"."; display:block; clear:both; height:0; visibility:hidden;}
	.rsAdvRecurrenceRangePanel ul, .rsAdvRecurrenceRangePanel ul li{ list-style-type: none; list-style: none;}
	.rsAdvRecurrenceRangePanel ul{margin:0.8em 0 0 15px;padding:0;}
	.rsAdvRecurrenceRangePanel label{padding-right: 4px;}

	.rsAdvancedEdit .rsAdvCheckboxWrapper input{vertical-align: middle;}
	.rsAdvancedEdit .rsAdvCheckboxWrapper label{width: auto;}

	.rsAdvRecurrenceFreq{float:left; width:20%; margin:0.8em 0 0 0; border-right:1px solid #dfdfdf;}
	.rsAdvRecurrenceFreq ul{list-style:none;margin:0 0 0 15px;padding:0;}
	.rsAdvRecurrenceFreq ul li{list-style: none;}

	.rsAdvHourly, .rsAdvDaily, .rsAdvWeekly, .rsAdvMonthly, .rsAdvYearly{float:right; width: 78%; margin:0.8em 0 0 0;}
	.rsAdvHourly ul, .rsAdvDaily ul, .rsAdvWeekly ul, .rsAdvMonthly ul, .rsAdvYearly ul {list-style:none;margin:0 0 0 15px;padding:0;width: 390px;}
    .rsAdvHourly li, .rsAdvDaily li, .rsAdvWeekly li, .rsAdvMonthly li, .rsAdvYearly li, .rsAdvRecurrenceRangePanel li,  .rsAdvMoreControls li{margin:0 0 0.3em 0; list-style: none;}

    .rsAdvHourly input, .rsAdvDaily input, .rsAdvWeekly input, .rsAdvMonthly input, .rsAdvYearly input, .rsAdvHourly select, 
	.rsAdvDaily select, .rsAdvWeekly select, .rsAdvMonthly select, .rsAdvYearly select{margin:0 2px;}
    .rsAdvRecurrencePatterns .rsAdvInput, .rsAdvRecurrenceRangePanel .rsAdvInput {width: 30px; padding-left: 1px; padding-right: 1px;}
    .rsAdvRecurrencePatterns .rsAdvWeekly_Weekday{ float: left; width: 100px;}
	.rsAdvRecurrencePatterns ul li	{list-style-type: none;}
	.rsAdvRecurrencePatterns{zoom:1;	}

	
	
	.rsAdvancedEdit fieldset, fieldset.range_of_recurrence{border: 1px #ccc solid;}
		fieldset.range_of_recurrence, fieldset.recurrence_fs, fieldset.registration_fs {margin-left: 10%; margin-top: 15px; background: #fefefe; padding: 5px 10px;}
	.rsAdvancedEdit legend, legend.rsAdvRecurrenceRange, legend.registrationoptions {font-weight: bold; padding: 0 10px;}
	
	.NormalBold.RegCap{padding: 5px 0; display: inline-block;  }
	
	.EventToolTip{padding: 10px; padding-bottom: 0;}
	h2.EventTitleToolTip{margin: 0;}
	.tooltip_buttons{padding: 10px 0;}	


	.AEEventTitle, .AEEventStartDate, .AEEventEndDate, .AEEventLocationAdd, .AEEventEditor, .AEEventFeature, .AEEventRecur, .AEEventRegister, .AEEventTimeZone {clear: both; overflow: hidden; padding-bottom: 0.675em;}
		.AEEventEditor .NormalBold, .AEEventTitle .NormalBold, .AEEventStartDate .NormalBold, .AEEventLocationAdd .NormalBold, .AEEventEndDate .NormalBold, 
		.AEEventFeature .NormalBold, .AEEventRecur .NormalBold, .AEEventRegister .MainLabel, .AEEventTimeZone .NormalBold
		{float:left; width: 20%; margin-right: 3%; text-align: right;}
		.AEEventEditor .Normal, .AEEventTitle .Normal, .AEEventStartDate .Normal, .AEEventLocationAdd .Normal, .AEEventEndDate .Normal, .AEEventFeature .Normal  {float: left; width: 81%;}
/*		.AEEventRecur .Normal, .AEEventRegister .Normal, .AEEventTimeZone .Normal */		

.AEEventEditor li { list-style-type: none; }
.registerSubmitBt, .registerMessage{margin-top: 0.675em;}


.ResponseHeader{padding: 0.375em 0;}
	.ResponseHeader > p{float: left; width: 49%; margin: 0; font-weight: bold;}
	.StatusTypeHeaders{float: right; width: 49%; text-align: center;}
		.StatusTypeHeaders .Normal{}
		.StatusTypeHeaders p{margin: 0;}

	.ResponseAtt{float: left; width: 49%;}
	.ResponseNotAtt{float: right; width: 49%;}

.ResponseDetailHeader td{background: #fff; color: #000; font-weight: bold; border-top: 1px #555 solid; border-bottom: 1px #333 solid; padding: 10px 0 6px; font-size: 120%;}
.ResponseDetailItem{border-bottom: 1px #ccc dotted; border-top: 1px #ccc dotted; }
.ResponseDetailItem td, .ResponseDetailAltItem td {padding: 8px 0;}
.ResponseDetailItem:hover, .ResponseDetailAltItem:hover{}

.ResponseDetailAltItem{background: #f2f9fc;}
.ResponseDetailItemSelect{}

.ResponseHeader .SortByHeader p, .ResponseHeader .StatusHeader p{display:inline; text-transform: uppercase; font-weight: bold; font-size: 90%;}
.ResponseMemberName{font-weight: bold;}
.ResponseDisplay{padding: 8px 0;}
	.ResponseEventDisplay{float: left; width: 49%;}
		.ResponseEventDisplay h3 {font-weight: bold; color: #046380; margin: 0; font-size: 110%;}
		.ResponseEventDisplay p{margin: 0; color: #555; font-size: 95%;}
	.ResponseEventStats{float: right; width: 49%; text-align: center;}
		.ResponseEventStats p{margin: 0;}

.ResponsesSummary ol{margin: 0 0 0 1.675em; padding:0;}
	.ResponsesSummary ol li .ResponseDisplay {padding: 0; margin: 12px 0 8px;}
	.ResponsesSummary ol li {}
.ResponseDetailGrid table {width:100%;}

/*=======================================================
		2. Settings
========================================================*/

.booking-setting label, .booking-setting .Help{float:left;width: 49%;}
.booking-setting br /*dnn label renders a br tag*/ {	display: none;}
.booking-setting input, .booking-setting select, .booking-setting .NumericTextBoxWrapper{float:right;width:49%;}
.booking-setting .NumericTextBoxWrapper{text-align: center;}
.booking-setting .NumericTextBoxWrapper div, .booking-setting .NumericTextBoxWrapper div table{text-align: right;width: 5em !important;}
.booking-setting .NumericTextBoxWrapper td.spinImgCell  a.spinbutton{text-align: left;}
.TemplatesSection{margin: 1em;}
.booking-setting{clear:both;padding: 0 0 2em;}

.timezone_display{float:left; width:70%;}

/*================ New Templates Picker==================*/

.events-choose-display-wrap{width:100%;height:auto;}
	.GlobalNavigation{text-align:left;}
	.cd-type{width:100%;padding:10px 0;}
		.cd-type h4{font-size:14px;color:#333;}
		.cd-type .NormalTextBox{display:inline;}
	.cd-template-title{display:block;}
	.cd-list{width:100%;}
		.cd-list h4{font-size:14px;color:#333;}
		.cd-list-description{width:48%; float:left;padding:10px 0;}
			.cd-list-description fieldset{border:none;padding:0;margin:0;}
			.cd-list-description legend{font-size:16px;padding:0;}
		.cd-list-preview{width:48%; float:right;overflow:hidden;padding:10px 0;}
			.cd-list-preview span{font-size:16px;}
		.settings-table{float:left;width:48%;clear:both;padding:10px 0;}
		.DataGrid_Header th{font-size:12px;color:#333;text-align:left;padding:5px 0;}
				.DataGrid_Item td,.DataGrid_AlternatingItem td{text-align:left;padding:0 5px;color:#000;}
				.DataGrid_AlternatingItem td{color:#333;}
	.cd-single-item{width:100%;clear:both;padding-top:20px;}
		.cd-single-item h4{font-size:14px;color:#333;}
		.cd-single-item-description{width:48%; float:left;padding:10px 0;}
			.cd-list-description fieldset{border:none;padding:0;margin:0;}
			.cd-list-description legend{font-size:16px;padding:0;}
		.cd-single-item-preview{width:48%; float:right;overflow:hidden;padding:10px 0;}
		.cd-single-item-preview span{font-size:16px;}
		.settings-table{float:left;width:48%;clear:both;}
	.cd-buttons{float:left;clear:both;padding:15px 0;}
				
/*========================================================
		3. Validation
========================================================*/
.ModuleMessage{width:60%; padding-top: 1em; margin: 0 auto;}
.mmTop{height: 5px; line-height: 0; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left bottom;}
.mmBody{height: 100%; padding: 0.675em 0.675em 1em;  margin:0 auto; overflow: hidden; border-bottom: solid 1px #000;}
.mmBody .mmIcon{float:left; width: 32px; height:32px; text-indent:-9999px;}
.mmText{float: right; text-align: left; width: 88%;}
.mmText{margin: 0; padding: 0;}
.mmText > p{margin-top: 4px; font-weight: bold; color: #000;}
.mmBt{height: 5px; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left top;}

/*========================= Error On Page ===============================*/

/*.ErrorTop{background-image:url(images/redTop.gif);}
.ErrorBody {background-image:url(images/redBody.gif);}
.ErrorBt{background-image:url(images/redBt.gif);} */

.ErrorBody {background: #fde0e0; border: 2px #ff0000 solid;}
.ErrorBody .ErrorIcon{background:url(images/errorSmallIcon.png) no-repeat;}

/*========================= Success ===============================*/

/*.SuccessTop{background-image:url(images/greenTop.gif);}
.SuccessBody {background-image:url(images/greenBody.gif);}
.SuccessBt{background-image:url(images/greenBt.gif);}*/

.SuccessBody {background:#f2fff3; border: 2px #5cd800 solid;}
.SuccessBody .SuccessIcon{background:url(images/successSmallIcon.png) no-repeat;}

/*========================= Warning ===============================*/

/*.WarningTop{background-image:url(images/blueTop.gif);}
.WarningBody {background-image:url(images/blueBody.gif);}
.WarningBt{background-image:url(images/blueBt.gif);}*/

/*========================= Information ===============================*/
.InformationBody {background:#e5f8ff; border: 2px #288abc solid;}
.InformationBody .InformationIcon{background-image:url(images/info.png);}

/*========================= Approval Request Form ===============================*/
.sb-request-form{}
	#Form1{}
    .sb-request-form fieldset{}
    	.sb-request-form legend{}
    	.sb-request-form p{}
		
		.full{width:45%;}
		.long{width:35%;}
		.medium{width:30%;}
		.short{width:22%;}
		.small{width:10%;}
		
		.required-label{float:left;color:#f00;}
		.approval-request h4{font-size:16px;color:#39c;}
		.approval-request ol li{list-style-type:none;}
		
/*----- Interpreting Event  -----*/	
	.interpreting-form{background:#fafafa;padding:15px;}
		.event-type, .title, .description, .notes {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.event-type-label, .title-label, .description-label, .considerations-label{width:20%;float:left;}
			.event-type-box, .description-box, .notes-box{float:left;margin:0 2%}			
		
	.interpreting-form-b{background:#fafafa;padding:15px;}
		.street, .city, .state, .zip, .nearest {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.street-label, .city-label, .nearest-label{float:left;width:20%;}
			.street-box, .room-box, .city-box, .state-list, .zip-box, .nearest-box{float:left;margin:0 2%}
			.state-list{width:18%;}
		
	.interpreting-form-c{background:#fafafa;padding:15px;}
		.phone {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.phone-label{float:left;width:20%;}
			.phone-box{float:left;margin:0 2%}
			
/*----- Person Requesting Interpreting Services -----*/	
	.requesting-form{background:#fafafa;padding:15px;}
		.full-name, .phone, .email {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.full-name-label, .phone-label, .alt-phone-label, .email-label{float:left;width:20%;}
			.full-name-box, .phone-box, .alt-phone-box, .email-box{float:left;margin:0 2%}
			.alt-phone-box{margin:0 2% 0 4%;}
			
/*----- Date of Assignment -----*/	
	.date-assignment-form{background:#fafafa;padding:15px;}
		.start, .at-time, .end{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.start-label, .at-time-label, .end-label{float:left;width:20%;}
			.start-box, .at-time-box, .end-box{float:left;margin:0 2%}
			
/*----- Participants  -----*/	
	.participants-form{background:#fafafa;padding:15px;}
		.number-special, .total-number, .gender, .presenter, .instructions{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.number-special-label, .total-number-label, .gender-label, .presenter-label, .instructions-label{float:left;width:20%;}
			.number-special-box, .total-number-box, .gender-list, .presenter-box, .instructions-box{float:left;margin:0 2%}
/*----- Submit Button  -----*/	
	.submit{}
		.send-button{}
/*==============================================================================
	Decline Screen
==============================================================================*/
.approval-decline-reasons{padding:10px 0;}
	.approval-decline-instructions{width:100%;font-weight:normal;font-style:italic;}
	.approval-decline-reason{width:100%;overflow:hidden;padding:6px 0;clear:both;}
		.approval-decline-reason-label{width:25%;float:left;padding-right:2%;font-weight:bold;}
		.approval-decline-reason-value{width:65%;float:left;}
		.approval-decline-reason-textbox{width:75%;float:left;margin-top:2%;}
	.approval-decline-reason-button-cancel{padding-left:20px;background: url(/DesktopModules/EngageBooking/Images/decline.gif) no-repeat left center;}
	.approval-decline-reason-button-submit{padding-left:20px;background: url(/DesktopModules/EngageBooking/Images/attending_icon.gif) no-repeat left center;}	

/*==============================================================================
	Approval Request Form 
==============================================================================*/
.approval-decline-reasons{padding:10px 0;}

.bulk-selection{padding:10px;text-align:right;width:95%;margin:0 auto;}
	.approval-accept-link {padding-left:20px;background: url(/DesktopModules/EngageBooking/Images/attending_icon.gif) no-repeat left center;}
	.approval-decline-link {padding-left:20px;background: url(/DesktopModules/EngageBooking/Images/decline.gif) no-repeat left center;}

.approval{width:95%;margin:0 auto;}
.approval tr{border:solid 1px #ccc;}
.approval .alternate{background:#f3fbff;padding:5px;}
	.approval td{padding:5px;}

.approval th{color:#6e5112;font-size:13px;padding:10px;}
.approval a{color:#0187e5;}
	.approval a:hover{color:#0187e5;text-decoration:underline;}

.approval-paging{width:95%;margin:0 auto;padding:10px 0;}
	.approval a.CommandButton:link, .approval a.CommandButton:visited {color:#0187e5;text-decoration:none;border:solid 1px #0187e5;padding:1px 3px;font-weight:normal;}
	.approval a.CommandButton:link:hover, .approval a.CommandButton:visited:hover{color:#999;text-decoration:none;border:solid 1px #ccc;}
	.approval a.CommandButton:visited {color:#0187e5;text-decoration:none;font-weight:normal;}
	.approval .NormalDisabled{color:#999 !important;text-decoration:none;border:solid 1px #ccc;padding:1px 3px;}

.approval fieldset{border:none;border:none;border-top:1px #cce5f3 solid;margin-top:10px; }
.datetime, .name, .phone, .total, .names{width:100%;clear:both;padding:6px 0;}
	.approval-detail-label, .approval-detail-value-label{width:25%;float:left;font-weight:bold;text-align:right;}
	.approval-detail-value{width:40%;float:left;padding-left:2%;}
		.type-value{width:9%;}
		.number-value{width:13%;}
	.approval legend{color:#6e5112;padding:0 10px;font-weight:bold;font-size:14px;}
	.total .approval-detail-label, .names .approval-detail-label, .total .approval-detail-value, .names .approval-detail-value{width:45%;}
	total .approval-detail-label, .names .approval-detail-label{text-align:right;}