/*==============================================

		1. Event Custom Listing Page

==============================================*/

.EventHeader, .ResponseHeader, .ResponseRow{clear: both; width: 100%; overflow: hidden;  border-bottom: dotted 1px #ccc;}
	.EventHeader h4, .ResponseHeader h4 {text-transform: uppercase; font-weight: bold; margin-bottom: 0.4em; margin-top: 0; font-size: 100%;}
	.EventHeader .Normal{float:left;width: 15%; margin-right: 3%; text-align: right; color: #666;}
	.EventHeader .NormalBold{float: left; width: 81%; color: #000;}
	.ResponseHeader h4, .ResponseHeader h3, .ResponseRow h3 {display:inline;}
	.ResponseHeader .SortByHeader{width: 49%; float:left;}
	.ResponseHeader .StatusHeader{width: 49%; float:right; text-align: center;}
	.ResponseHeader .StatusTypeHeaders > span{padding-right: 10%;}
	.ResponseRow .EventStats{float:right; width:30%;}
	.ResponseRow .EventStats > a {padding-right: 50%;}
.ResponsesSummary {padding: 25px 0;}
		
/* event calendar display page */
.EventCalendar li { list-style-type: none; }
.RadScheduler_Telerik div.rsHeader p { width:110px; }

.EventCalendar { position:relative; } /*.EventCalendar is position:relative to serve as a base for .NewAppointmentTooltip's position:absolute*/
.NewAppointmentTooltip {background: Transparent url(images/request-appt-background.png) no-repeat; width:150px; height:63px; position:fixed; display:none; padding-top:1em; text-align:center; z-index:1000;}

.RadScheduler .rsWrap {margin-bottom: 2px;}
.RadScheduler .rsMonthView .rsWrap {height: 18px !important; width: 100%; overflow: hidden; white-space:nowrap;}
.rsAptContent{padding-left: 2px;}
.rsCell{padding: 0 2px !important;}

.respond-wrap{padding:15px;}
	.respond-wrap h2.Head, .respond-wrap h3.SubHead{margin:0;}

/* event edit page */

.AdminButtons{text-align: left;}

	.AdminButtons a img{padding: 0 6px 0 0;}
	.FooterButtons {padding-top: 3%; }
	.AddEventSuccessMessage {padding-left: 10%; }
	.AddNewEvent {padding-top: 2%; width: 100%; height: 100%;}
	.AddNewEvent h2.SubHead {text-align: left; border-bottom: dashed 1px black; margin-bottom: 1em; padding-bottom: 0.375em; font-size: 125%;}

	.rsAdvRecurrenceFreq:after,	.rsAdvRecurrencePatterns:after{	content:"."; display:block; clear:both; height:0; visibility:hidden;}
	.rsAdvRecurrenceRangePanel ul, .rsAdvRecurrenceRangePanel ul li{ list-style-type: none; list-style: none;}
	.rsAdvRecurrenceRangePanel ul{margin:0.8em 0 0 15px;padding:0;}
	.rsAdvRecurrenceRangePanel label{padding-right: 4px;}

	.rsAdvancedEdit .rsAdvCheckboxWrapper input{vertical-align: middle;}
	.rsAdvancedEdit .rsAdvCheckboxWrapper label{width: auto;}

	.rsAdvRecurrenceFreq{float:left; width:20%; margin:0.8em 0 0 0; border-right:1px solid #dfdfdf;}
	.rsAdvRecurrenceFreq ul{list-style:none;margin:0 0 0 15px;padding:0;}
	.rsAdvRecurrenceFreq ul li{list-style: none;}

	.rsAdvHourly, .rsAdvDaily, .rsAdvWeekly, .rsAdvMonthly, .rsAdvYearly{float:right; width: 78%; margin:0.8em 0 0 0;}
	.rsAdvHourly ul, .rsAdvDaily ul, .rsAdvWeekly ul, .rsAdvMonthly ul, .rsAdvYearly ul {list-style:none;margin:0 0 0 15px;padding:0;width: 390px;}
    .rsAdvHourly li, .rsAdvDaily li, .rsAdvWeekly li, .rsAdvMonthly li, .rsAdvYearly li, .rsAdvRecurrenceRangePanel li,  .rsAdvMoreControls li{margin:0 0 0.3em 0; list-style: none;}

    .rsAdvHourly input, .rsAdvDaily input, .rsAdvWeekly input, .rsAdvMonthly input, .rsAdvYearly input, .rsAdvHourly select, 
	.rsAdvDaily select, .rsAdvWeekly select, .rsAdvMonthly select, .rsAdvYearly select{margin:0 2px;}
    .rsAdvRecurrencePatterns .rsAdvInput, .rsAdvRecurrenceRangePanel .rsAdvInput {width: 30px; padding-left: 1px; padding-right: 1px;}
    .rsAdvRecurrencePatterns .rsAdvWeekly_Weekday{ float: left; width: 100px;}
	.rsAdvRecurrencePatterns ul li	{list-style-type: none;}
	.rsAdvRecurrencePatterns{zoom:1;	}

	
	
	.rsAdvancedEdit fieldset, fieldset.range_of_recurrence{border: 1px #ccc solid;}
		fieldset.range_of_recurrence, fieldset.recurrence_fs, fieldset.registration_fs {margin-left: 10%; margin-top: 15px; background: #fefefe; padding: 5px 10px;}
	.rsAdvancedEdit legend, legend.rsAdvRecurrenceRange, legend.registrationoptions {font-weight: bold; padding: 0 10px;}
	
	.NormalBold.RegCap{padding: 5px 0; display: inline-block;  }
	
	.EventToolTip{padding: 10px; padding-bottom: 0;}
	h2.EventTitleToolTip{margin: 0;}
	.tooltip_buttons{padding: 10px 0;}	


	.AEEventTitle, .AEEventStartDate, .AEEventEndDate, .AEEventLocationAdd, .AEEventEditor, .AEEventFeature, .AEEventRecur, .AEEventRegister, .AEEventTimeZone {clear: both; overflow: hidden; padding-bottom: 0.675em;}
		.AEEventEditor .NormalBold, .AEEventTitle .NormalBold, .AEEventStartDate .NormalBold, .AEEventLocationAdd .NormalBold, .AEEventEndDate .NormalBold, 
		.AEEventFeature .NormalBold, .AEEventRecur .NormalBold, .AEEventRegister .MainLabel, .AEEventTimeZone .NormalBold
		{float:left; width: 20%; margin-right: 3%; text-align: right;}
		.AEEventEditor .Normal, .AEEventTitle .Normal, .AEEventStartDate .Normal, .AEEventLocationAdd .Normal, .AEEventEndDate .Normal, .AEEventFeature .Normal  {float: left; width: 81%;}
/*		.AEEventRecur .Normal, .AEEventRegister .Normal, .AEEventTimeZone .Normal */

		

.AEEventEditor li { list-style-type: none; }
.registerSubmitBt, .registerMessage{margin-top: 0.675em;}


.ResponseHeader{padding: 0.375em 0;}
	.ResponseHeader > p{float: left; width: 49%; margin: 0; font-weight: bold;}
	.StatusTypeHeaders{float: right; width: 49%; text-align: center;}
		.StatusTypeHeaders .Normal{}
		.StatusTypeHeaders p{margin: 0;}

	.ResponseAtt{float: left; width: 49%;}
	.ResponseNotAtt{float: right; width: 49%;}

.ResponseDetailHeader td{background: #fff; color: #000; font-weight: bold; border-top: 1px #555 solid; border-bottom: 1px #333 solid; padding: 10px 0 6px; font-size: 120%;}
.ResponseDetailItem{border-bottom: 1px #ccc dotted; border-top: 1px #ccc dotted; }
.ResponseDetailItem td, .ResponseDetailAltItem td {padding: 8px 0;}
.ResponseDetailItem:hover, .ResponseDetailAltItem:hover{}

.ResponseDetailAltItem{background: #f2f9fc;}
.ResponseDetailItemSelect{}

.ResponseHeader .SortByHeader p, .ResponseHeader .StatusHeader p{display:inline; text-transform: uppercase; font-weight: bold; font-size: 90%;}
.ResponseMemberName{font-weight: bold;}
.ResponseDisplay{padding: 8px 0;}
	.ResponseEventDisplay{float: left; width: 49%;}
		.ResponseEventDisplay h3 {font-weight: bold; color: #046380; margin: 0; font-size: 110%;}
		.ResponseEventDisplay p{margin: 0; color: #555; font-size: 95%;}
	.ResponseEventStats{float: right; width: 49%; text-align: center;}
		.ResponseEventStats p{margin: 0;}

.ResponsesSummary ol{margin: 0 0 0 1.675em; padding:0;}
	.ResponsesSummary ol li .ResponseDisplay {padding: 0; margin: 12px 0 8px;}
	.ResponsesSummary ol li {}
.ResponseDetailGrid table {width:100%;}

/*========================================================

		2. Settings

========================================================*/

.booking-setting label, .booking-setting .Help{float:left;width: 49%;}
.booking-setting br /*dnn label renders a br tag*/ {	display: none;}
.booking-setting input, .booking-setting select, .booking-setting .NumericTextBoxWrapper{float:right;width:49%;}
.booking-setting .NumericTextBoxWrapper{text-align: center;}
.booking-setting .NumericTextBoxWrapper div, .booking-setting .NumericTextBoxWrapper div table{text-align: right;width: 5em !important;}
.booking-setting .NumericTextBoxWrapper td.spinImgCell  a.spinbutton{text-align: left;}
.TemplatesSection{margin: 1em;}
.booking-setting{clear:both;padding: 0 0 2em;}

.timezone_display{float:left; width:70%;}

/*================ New Templates Picker==================*/

.events-choose-display-wrap{width:100%;height:auto;}
	.GlobalNavigation{text-align:left;}
	.cd-type{width:100%;padding:10px 0;}
		.cd-type h4{font-size:14px;color:#333;}
		.cd-type .NormalTextBox{display:inline;}
	.cd-template-title{display:block;}
	.cd-list{width:100%;}
		.cd-list h4{font-size:14px;color:#333;}
		.cd-list-description{width:48%; float:left;padding:10px 0;}
			.cd-list-description fieldset{border:none;padding:0;margin:0;}
			.cd-list-description legend{font-size:16px;padding:0;}
		.cd-list-preview{width:48%; float:right;overflow:hidden;padding:10px 0;}
			.cd-list-preview span{font-size:16px;}
		.settings-table{float:left;width:48%;clear:both;padding:10px 0;}
		.DataGrid_Header th{font-size:12px;color:#333;text-align:left;padding:5px 0;}
				.DataGrid_Item td,.DataGrid_AlternatingItem td{text-align:left;padding:0 5px;color:#000;}
				.DataGrid_AlternatingItem td{color:#333;}
	.cd-single-item{width:100%;clear:both;padding-top:20px;}
		.cd-single-item h4{font-size:14px;color:#333;}
		.cd-single-item-description{width:48%; float:left;padding:10px 0;}
			.cd-list-description fieldset{border:none;padding:0;margin:0;}
			.cd-list-description legend{font-size:16px;padding:0;}
		.cd-single-item-preview{width:48%; float:right;overflow:hidden;padding:10px 0;}
		.cd-single-item-preview span{font-size:16px;}
		.settings-table{float:left;width:48%;clear:both;}
	.cd-buttons{float:left;clear:both;padding:15px 0;}
				
/*========================================================

		3. Validation

========================================================*/
.ModuleMessage{width:60%; padding-top: 1em; margin: 0 auto;}
.mmTop{height: 5px; line-height: 0; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left bottom;}
.mmBody{height: 100%; padding: 0.675em 0.675em 1em;  margin:0 auto; overflow: hidden; border-bottom: solid 1px #000;}
.mmBody .mmIcon{float:left; width: 32px; height:32px; text-indent:-9999px;}
.mmText{float: right; text-align: left; width: 88%;}
.mmText{margin: 0; padding: 0;}
.mmText > p{margin-top: 4px; font-weight: bold; color: #000;}
.mmBt{height: 5px; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left top;}

/*========================= Error On Page ===============================*/

/*.ErrorTop{background-image:url(images/redTop.gif);}
.ErrorBody {background-image:url(images/redBody.gif);}
.ErrorBt{background-image:url(images/redBt.gif);} */

.ErrorBody {background: #fde0e0; border: 2px #ff0000 solid;}
.ErrorBody .ErrorIcon{background:url(images/errorSmallIcon.png) no-repeat;}



/*========================= Success ===============================*/

/*.SuccessTop{background-image:url(images/greenTop.gif);}
.SuccessBody {background-image:url(images/greenBody.gif);}
.SuccessBt{background-image:url(images/greenBt.gif);}*/

.SuccessBody {background:#f2fff3; border: 2px #5cd800 solid;}
.SuccessBody .SuccessIcon{background:url(images/successSmallIcon.png) no-repeat;}

/*========================= Warning ===============================*/

/*.WarningTop{background-image:url(images/blueTop.gif);}
.WarningBody {background-image:url(images/blueBody.gif);}
.WarningBt{background-image:url(images/blueBt.gif);}*/

/*========================= Information ===============================*/
.InformationBody {background:#e5f8ff; border: 2px #288abc solid;}
.InformationBody .InformationIcon{background-image:url(images/info.png);}




/*========================= Fancy Box ===============================*/
div#fancy_overlay {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	background-color: #333;
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url(Images/fancy_progress.png) no-repeat;
}

div#fancy_close {
	position: absolute;
	top: -12px;
	right: -12px;
	height: 30px;
	width: 30px;
	background: transparent url(Images/fancy_closebox.png) ;
	cursor: pointer;
	z-index: 100;
	display: none;
}

div#fancy_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0; 
	margin: 0;
	z-index: 96;
}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 92;
}

div#fancy_title {
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none;
}

div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 2px;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url(Images/fancy_title_left.png) repeat-x;
}

td#fancy_title_main {
	height: 32px;
	background: transparent url(Images/fancy_title_main.png) repeat-x;
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url(Images/fancy_title_right.png) repeat-x;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 18px 18px 58px 18px;
    margin: 0;
    overflow: hidden;
    background: transparent;
    display: none;
    width: 550px;
    height: 200px;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	border: 1px solid #444;
	background: #FFF;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 10px; 
	height: 100%; 
	width: 35%; 
	cursor: pointer;
	background-image: url(data:image/gif;base64,AAAA);
	z-index: 100; 
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

a#fancy_left:hover {
	background: transparent url(Images/fancy_left.gif) no-repeat 0% 100%;
}

a#fancy_right:hover {
	background: transparent url(Images/fancy_right.gif) no-repeat 100% 100%;
}

#fancy_bigIframe, #fancy_freeIframe {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

div#fancy_bg {
	display: none;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
}

div.fancy_bg_n {
	top: -18px;
	width: 100%;
	height: 18px;
	background: transparent url(Images/fancy_shadow_n.png) repeat-x;
}

div.fancy_bg_ne {
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(Images/fancy_shadow_ne.png) no-repeat;
}

div.fancy_bg_e {
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(Images/fancy_shadow_e.png) repeat-y;
}

div.fancy_bg_se {
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(Images/fancy_shadow_se.png) no-repeat;
}

div.fancy_bg_s {
	bottom: -18px;
	width: 100%;
	height: 18px;
	background: transparent url(Images/fancy_shadow_s.png) repeat-x;
}

div.fancy_bg_sw {
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(Images/fancy_shadow_sw.png) no-repeat;
}

div.fancy_bg_w {
	left: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(Images/fancy_shadow_w.png) repeat-y;
}

div.fancy_bg_nw {
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(Images/fancy_shadow_nw.png) no-repeat;
}

a.PopupTriggerLink 
{
	visibility: hidden;
}
/*========================= End Fancy Box ===============================*/


/*** Engage Booking ***/

.sb-request-form{}
	#Form1{}
    .sb-request-form fieldset{}
    	.sb-request-form legend{}
    	.sb-request-form p{}
		.short{width:75px;}
		.medium{width:100px;}
		.long{width:175px;}
		.full{width:350px;}
/*==============================================================================
	Interpreting Event
==============================================================================*/
	.interpreting-form{}
		.event-type{}
			.event-type-label{}
			.event-type-box{}
		.Title{}
			.phone-label{}
			.phone-box{} 
		.description{}
			.description-label{}
			.description-box{}
		.considerations{}
			.considerations-label{}
			.considerations-box{}  
	.interpreting-form-b{}
		.street{}
			.street-label{}
			.street-box{}
		.room{}
			.room-box{}
		.city{}
			.city-label{}
			.city-box{}
		.state{}
			.state-box{}
		.zip{}
			.zip-box{}
		.nearest{}
			.nearest-label{}
			.nearest-box{}
	.interpreting-form-c{}
		.street{}
			.street-label{}
			.street-box{}
		.phone{}
			.phone-label{}
			.phone-box{}
/*==============================================================================
	Person Requesting Interpreting Services
==============================================================================*/
	.requesting-form{}
		.full-name{}
			.full-name-label{}
			.full-name-box{}
		.phone{}
			.phone-label{}
			.phone-box{}
		 .alt-phone{}
			.alt-phone-label{}
			.alt-phone-box{}
		.email{}
			.email-label{}
			.email-box{}
/*==============================================================================
	Date of Assignment
==============================================================================*/	
	.date-assignment-form{}
		.start{}
			.start-label{}
			.start-box{}
		 .at-time{}
			.at-time-label{}
			.at-time-box{}
		 .end{}
			.end-label{}
			.end-box{}
		.at-time{}
			.at-time-label{}
			.at-time-box{}
/*==============================================================================
	Participants
==============================================================================*/ 
	.participants-form{}
		.number-deaf{}
			.number-deaf-label{}
			.number-deaf-box{}
		 .total-number{}
			.total-number-label{}
			.total-number-box{}
		 .male{}
			.male-label{}
			.male-box{}
		.female{}
			.female-label{}
			.female-box{}
		.instructions{}
			.instructions-label{}
			.instructions-box{}
/*==============================================================================
	Submit Button
==============================================================================*/
	.submit{}
		.send-button{}

