/* calendar display page */
.appointments-calendar li { list-style-type: none; }

.appointments-calendar { position:relative; } /*.appointments-calendar is position:relative to serve as a base for .NewAppointmentTooltip's position:absolute*/
.NewAppointmentTooltip {background: Transparent url(images/request-appt-background.png) no-repeat; width:150px; height:63px; position:fixed; display:none; padding-top:1em; text-align:center; z-index:1000;}

.RadScheduler_Telerik div.rsHeader p { width:110px; }
.RadScheduler .rsWrap {margin-bottom: 2px;}
.RadScheduler .rsMonthView .rsWrap {height: 18px !important; width: 100%; overflow: hidden; white-space:nowrap;}
.RadScheduler .rsAptContent{padding-left: 2px;}
.RadScheduler .rsCell{padding: 0 2px !important;}

/* global navigation */
.GlobalNavigation{text-align:left;}
.booking-nav{text-align: left;}
	.booking-nav a img{padding: 0 6px 0 0;}
	.FooterButtons {padding-top: 3%; }
		
/*=======================================================
		2. Settings
========================================================*/

.booking-setting label, .booking-setting .Help{float:left;width: 49%;}
.booking-setting br /*dnn label renders a br tag*/ {	display: none;}
.booking-setting input, .booking-setting select, .booking-setting .NumericTextBoxWrapper{float:right;width:49%;}
.booking-setting .NumericTextBoxWrapper{text-align: center;}
.booking-setting .NumericTextBoxWrapper div, .booking-setting .NumericTextBoxWrapper div table{text-align: right;width: 5em !important;}
.booking-setting .NumericTextBoxWrapper td.spinImgCell  a.spinbutton{text-align: left;}
.booking-setting{clear:both;padding: 0 0 2em;}

				
/*========================================================
		3. Validation
========================================================*/
.ModuleMessage{width:60%; padding-top: 1em; margin: 0 auto;}
.mmTop{height: 5px; line-height: 0; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left bottom;}
.mmBody{height: 100%; padding: 0.675em 0.675em 1em;  margin:0 auto; overflow: hidden; border-bottom: solid 1px #000;}
.mmBody .mmIcon{float:left; width: 32px; height:32px; text-indent:-9999px;}
.mmText{float: right; text-align: left; width: 88%;}
.mmText{margin: 0; padding: 0;}
.mmText > p{margin-top: 4px; font-weight: bold; color: #000;}
.mmBt{height: 5px; background-color:transparent; background-repeat: no-repeat; background-attachment:scroll; background-position:left top;}

/*========================= Error On Page ===============================*/

/*.ErrorTop{background-image:url(images/redTop.gif);}
.ErrorBody {background-image:url(images/redBody.gif);}
.ErrorBt{background-image:url(images/redBt.gif);} */

.ErrorBody {background: #fde0e0; border: 2px #ff0000 solid;}
.ErrorBody .ErrorIcon{background:url(images/errorSmallIcon.png) no-repeat;}

/*========================= Success ===============================*/

/*.SuccessTop{background-image:url(images/greenTop.gif);}
.SuccessBody {background-image:url(images/greenBody.gif);}
.SuccessBt{background-image:url(images/greenBt.gif);}*/

.SuccessBody {background:#f2fff3; border: 2px #5cd800 solid;}
.SuccessBody .SuccessIcon{background:url(images/successSmallIcon.png) no-repeat;}

/*========================= Warning ===============================*/

/*.WarningTop{background-image:url(images/blueTop.gif);}
.WarningBody {background-image:url(images/blueBody.gif);}
.WarningBt{background-image:url(images/blueBt.gif);}*/

/*========================= Information ===============================*/
.InformationBody {background:#e5f8ff; border: 2px #288abc solid;}
.InformationBody .InformationIcon{background-image:url(images/info.png);}

/*========================= Approval Request Form ===============================*/
.RequestAppointmentSuccessMessage {padding-left: 10%; }
.sb-request-form{}
	#Form1{}
    .sb-request-form fieldset{}
    	.sb-request-form legend{}
    	.sb-request-form p{}
		
		.full{width:45%;}
		.long{width:35%;}
		.medium{width:30%;}
		.short{width:22%;}
		.small{width:10%;}
		
		.required-label{float:left;color:#f00;}
			.note .required-label{float:none;}
		.approval-request h4{font-size:16px;color:#39c;}
		.approval-request ol li{list-style-type:none;}
		
	/*.customfields-fieldset{display:none;}*/
		
/*----- Interpreting Event  -----*/	
	.interpreting-form{background:#fafafa;padding:15px;}
		.event-type, .title, .description, .notes {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.event-type-label, .title-label, .description-label, .considerations-label{width:20%;float:left;}
			.event-type-box, .description-box, .notes-box{float:left;margin:0 2%}			
		
	.interpreting-form-b{background:#fafafa;padding:15px;}
		.street, .city, .state, .zip, .nearest {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.street-label, .city-label, .nearest-label{float:left;width:20%;}
			.street-box, .room-box, .city-box, .state-list, .zip-box, .nearest-box{float:left;margin:0 2%}
			.state-list{width:18%;}
		
	.interpreting-form-c{background:#fafafa;padding:15px;}
		.phone {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.phone-label{float:left;width:20%;}
			.phone-box{float:left;margin:0 2%}
			
/*----- Person Requesting Interpreting Services -----*/	
	.requesting-form{background:#fafafa;padding:15px;}
		.full-name, .phone, .email {width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.full-name-label, .phone-label, .alt-phone-label, .email-label{float:left;width:20%;}
			.full-name-box, .phone-box, .alt-phone-box, .email-box{float:left;margin:0 2%}
			.alt-phone-box{margin:0 2% 0 4%;}
			
/*----- Date of Assignment -----*/	
	.date-assignment-form{background:#fafafa;padding:15px;}
		.start, .at-time, .end, .timezone{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.start-label, .at-time-label, .end-label, .timezone-label{float:left;width:20%;}
			.start-box, .at-time-box, .end-box, .timezone-dropdown, .timezone-checkbox{float:left;margin:0 2%}
		.timezone_display{float:left; width:70%;}
			
/*----- Participants  -----*/	
	.participants-form{background:#fafafa;padding:15px;}
		.number-special, .total-number, .gender, .presenter, .instructions{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.number-special-label, .total-number-label, .gender-label, .presenter-label, .instructions-label{float:left;width:20%;}
			.number-special-box, .total-number-box, .gender-list, .presenter-box, .instructions-box{float:left;margin:0 2%}
			
/*----- Custom Fields -----*/
	.customfields-form{background:#fafafa;padding:15px;}
		.customfield1, .customfield2, .customfield3, .customfield4, .customfield5, .customfield6, .customfield7, .customfield8, .customfield9, .customfield10{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.customfield1-label, .customfield2-label, .customfield3-label, .customfield4-label, .customfield5-label, .customfield6-label, .customfield7-label, .customfield8-label, .customfield9-label, .customfield10-label{float:left;width:20%;}
			.customfield1-box, .customfield2-box, .customfield3-box, .customfield4-box, .customfield5-box, .customfield6-box, .customfield7-box, .customfield8-box, .customfield9-box, .customfield10-box{float:left;margin:0 2%}

/*----- Submit Button -----*/	
	.submit{}
		.send-button{}
/*==============================================================================
	Decline Screen
==============================================================================*/
.approval-decline-reasons{padding:10px 0;}
	.approval-decline-instructions{width:100%;font-weight:normal;font-style:italic;}
	.approval-decline-reason{width:100%;overflow:hidden;padding:6px 0;clear:both;}
		.approval-decline-reason-label{width:25%;float:left;padding-right:2%;font-weight:bold;}
		.approval-decline-reason-value{width:65%;float:left;}
		.approval-decline-reason-textbox{width:75%;float:left;margin-top:2%;}
	.approval-decline-reason-button-cancel{padding-left:20px;background: url(Images/decline.gif) no-repeat left center;}
	.approval-decline-reason-button-submit{padding-left:20px;background: url(Images/attending_icon.gif) no-repeat left center;}	

/*==============================================================================
	Approval Request Form 
==============================================================================*/
.approval-decline-reasons{padding:10px 0;}

.bulk-selection{padding:10px;text-align:right;width:95%;margin:0 auto;}
	.approval-accept-link {padding-left:20px;background: url(Images/attending_icon.gif) no-repeat left center;}
	.approval-decline-link {padding-left:20px;background: url(Images/decline.gif) no-repeat left center;}

.approval{width:95%;margin:0 auto;}
.approval tr{border:solid 1px #ccc;}
.approval .alternate{background:#f3fbff;padding:5px;}
	.approval td{padding:5px;}

.approval th{color:#6e5112;font-size:13px;padding:10px;}
.approval a{color:#0187e5;}
	.approval a:hover{color:#0187e5;text-decoration:underline;}

.approval-paging{width:95%;margin:0 auto;padding:10px 0;}
	.approval a.CommandButton:link, .approval a.CommandButton:visited {color:#0187e5;text-decoration:none;border:solid 1px #0187e5;padding:1px 3px;font-weight:normal;}
	.approval a.CommandButton:link:hover, .approval a.CommandButton:visited:hover{color:#999;text-decoration:none;border:solid 1px #ccc;}
	.approval a.CommandButton:visited {color:#0187e5;text-decoration:none;font-weight:normal;}
	.approval .NormalDisabled{color:#999 !important;text-decoration:none;border:solid 1px #ccc;padding:1px 3px;}

.approval fieldset{border:none;border:none;border-top:1px #cce5f3 solid;margin-top:10px; }
.datetime, .name, .phone, .total, .names{width:100%;clear:both;padding:6px 0;}
	.approval-detail-label, .approval-detail-value-label{width:25%;float:left;font-weight:bold;text-align:right;}
	.approval-detail-value{width:40%;float:left;padding-left:2%;}
		.type-value{width:9%;}
		.number-value{width:13%;}
	.approval legend{color:#6e5112;padding:0 10px;font-weight:bold;font-size:14px;}
	.total .approval-detail-label, .names .approval-detail-label, .total .approval-detail-value, .names .approval-detail-value{width:45%;}
	.total .approval-detail-label, .names .approval-detail-label{text-align:right;}
	
/*==============================================================================
	Export Data Form 
==============================================================================*/
	.exportdata-form{background:#fafafa;padding:15px;}
		.startdate, .enddate, .exportbutton{width:100%;overflow:hidden;padding:6px 0;clear:both;}
			.startdate-label, .enddate-label, .export-button{float:left;width:20%;}
			.startdate-picker, .enddate-picker, .header-checkbox{float:left;margin:0 2%}

.inline-label-gray{color:gray}